body
{
    text-align: center;
    background-color: #e4e4e4;
}
header
{
    padding: 6em 0;
    background-image: url('../img/code.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
main
{
    padding: 0;
    margin: 0 auto 100px auto;
}

/* fixed bottom footer */
footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: #444 solid 10px;
}

/* force no display on our various quiz states */
#quiz-start, #quiz-active, #quiz-hs-entry, #quiz-end
{
    display: none;
}

#quiz-active
{
    text-align: left;
    margin: 0 auto;
}

#quiz-end section
{
    text-align: left;
    width:115px;
    margin: 0 auto;
}

[class*="col"]
{
    margin-bottom: 20px;
}

/**
 * the following for answers creates a button
 * pressed like radio input, removes the actual
 * radio circle handle
*/
#quiz-answers input 
{
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
#quiz-answers label
{
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    display: block;
}
#quiz-answers label:hover
{
    cursor: pointer;
    background-color: #d5d5d5;
}
#quiz-answers input:checked + label
{
    background-color: #444;
    color: #eee;
}
